footer
    .logo 
        img(src="/img/logo.png", alt="Logo")
    ul 
        li: a(href="#") About Us 
        li: a(href="#") Privacy Policy
        li: a(href="#") Terms of Use
        li: a(href="#") Contact
    p.copyright &copy; 2025 Obaid Cloudinary Backend Project